extends layout

block content
    div
        h2 Resources for Track and Field
        ul
            li
                a(href="#") Resources #1
            li
                a(href="#") Resources #1
            li
                a(href="#") Resources #1
            li
                a(href="#") Resources #1
            li
                a(href="#") Resources #1
            li
                a(href="#") Resources #1